@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-dark1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home {
  @apply relative h-[600px] w-full;
  background-image: url('https://lh4.googleusercontent.com/34E-s6GhFAk7nuEXz4re1TRf_ZjAfiyLLg3rH0KRmDeYmd97RIidUbI3KdxeLYjIZeQ=w2400');
  background-position: center;
  background-size: cover;
}

.overlay {
  @apply absolute left-0 top-0 h-full w-full;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0));
}
